pip
langchain-community
argon2-cffi
trycourier
streamlit_cookies_manager
streamlit_option_menu
streamlit_lottie
firebase_admin
typing
pathlib
requests
typing
beautifulsoup4
streamlit
pypdf
langchain
openai
tiktoken
faiss-cpu
youtube-transcript-api
unstructured
pdfminer
pytesseract
httpx_oauth
pypdf
docx2txt
streamlit_agraph
graphviz
matplotlib
networkx
dataclasses
